
.topo {
    width: 100%;
    background: linear-gradient(180deg, #F1B545 37%, #BE8F36 51%, #8b6828 80%);
    box-shadow: 0 2px 10px #0000001f;
    position: sticky;
    top: 0;
    z-index: 1000;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: #009A9B;
}

/* ======= PRODUTO PRINCIPAL ======= */

.produto-area {
    margin: 60px auto;
    width: 85%;
    display: flex;
    gap: 60px;
    align-items: center;
}

.produto-card {
    background: #e67e6a;
    width: 340px;
    height: 340px;
    border-radius: 12px;
    box-shadow: 6px 8px 0 #1a5b63;
    display: flex;
    justify-content: center;
    align-items: center;
}

.produto-card img {
    width: 90%;
    border-radius: 12px;
}

.produto-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.produto-info span {
    font-weight: 300;
}

.preco {
    font-size: 22px;
    margin: 30px 0;
    font-weight: 600;
    border-radius: 12px;
}

.buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.buy-btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #E96A1C;
    border: 2px solid #0000005b;
    color: #fff;
    transition: 0.3s;
}

.buy-btn {
    padding: 15px 35px;
    background: #fff;
    border-radius: 15px;
    border: 3px solid #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.cart-btn {
    width: 60px;
    height: 60px;
    background: #fff;
    border: 3px solid #000;
    border-radius: 12px;
    cursor: pointer;
    font-size: 28px;
}

.cart-btn:hover {
    transform: scale(1.05);
    transition: all 0.3s ease;
    background-color: #E96A1C;
    border: 2px solid #0000005b;
    color: #fff;
    transition: 0.3s;
}

/* ======= RECOMENDAÇÕES ======= */
.title-recomendacoes {
    text-align: center;
    color: #faf9f7;
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 2px;
}

.recomendacoes {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 60px;
}

.rec-item {
    background: #fff;
    width: 230px;
    height: 230px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rec-item img {
  width: 90%;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/
/*===================================================================================================================================================*/






